table{
    margin-left: 125px;
}
th{
  border: 5px groove;
  padding-left: 200px;
  padding-right: 200px;
}
td{
     border: 5px groove;
    align-items: center;
    justify-content: center;

}
th,td{
    padding: 10px;
}
a:active{
  background-color: rgb(9, 48, 80);
}